body {
    background-color: white;
    color: black;
}

.title{
    font-family: cursive;
    font-weight: bold;
}

div {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.image{
    margin: 0 auto;
}

.link{
    color: black;
    font-family: cursive;
}

.description{
    font-family: cursive;
}